In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

fruits = pd.read_table('readonly/fruit_data_with_colors.txt')

In [14]:
fruits.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [15]:
fruits['fruit_label'].unique()

array([1, 2, 3, 4])

In [16]:
fruits['fruit_name'].unique()

array(['apple', 'mandarin', 'orange', 'lemon'], dtype=object)

In [17]:
d = zip(fruits['fruit_label'].unique(),fruits['fruit_name'].unique() )

In [18]:
tuple(d)

((1, 'apple'), (2, 'mandarin'), (3, 'orange'), (4, 'lemon'))

In [19]:
a = fruits[['fruit_label','fruit_name']]

In [20]:
a.head()

   fruit_label fruit_name
0            1      apple
1            1      apple
2            1      apple
3            2   mandarin
4            2   mandarin