In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_excel('gdplev.xls')
df = df.iloc[7:]

gdp = df[['Unnamed: 4','Unnamed: 5']]

In [34]:
gdp = gdp.reset_index(drop=True)
gdp = gdp.rename(columns={'Unnamed: 4':'Quarter','Unnamed: 5':'GDP'})
gdp.head(15)

   Quarter    GDP
0   1947q1  243.1
1   1947q2  246.3
2   1947q3  250.1
3   1947q4  260.3
4   1948q1  266.2
5   1948q2  272.9
6   1948q3  279.5
7   1948q4  280.7
8   1949q1  275.4
9   1949q2  271.7
10  1949q3  273.3
11  1949q4    271
12  1950q1  281.2
13  1950q2  290.7
14  1950q3  308.5

In [37]:
for i in range(2,len(gdp['GDP'])):
    if (gdp['GDP'][i-2] > gdp['GDP'][i-1]) & (gdp['GDP'][i-1] > gdp['GDP'][i]):
        recession = gdp['Quarter'][i]
        break

In [38]:
recession

'1949q2'

In [39]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    gdplev = pd.ExcelFile('gdplev.xls')
    gdplev = gdplev.parse("Sheet1", skiprows=219)
    gdplev = gdplev[['1999q4', 9926.1]]
    gdplev.columns = ['Quarter','GDP']
    for i in range(2, len(gdplev)):
        if (gdplev.iloc[i-2][1] > gdplev.iloc[i-1][1]) and (gdplev.iloc[i-1][1] > gdplev.iloc[i][1]):
            return gdplev.iloc[i-2][0]
get_recession_start()

'2008q3'

In [42]:
    gdplev = pd.ExcelFile('gdplev.xls')
    gdplev = gdplev.parse("Sheet1", skiprows=219)
    gdplev = gdplev[['1999q4', 9926.1]]
    gdplev.columns = ['Quarter','GDP']

In [43]:
len(gdplev)

66

In [45]:
gdplev.head()

  Quarter      GDP
0  2000q1  10031.0
1  2000q2  10278.3
2  2000q3  10357.4
3  2000q4  10472.3
4  2001q1  10508.1